/*ÆùÆ®*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

html{
	font-family: 'Noto Sans KR', sans-serif;
	margin:0 300px 0 300px;
}

#row-svg{
 	margin: 4% 4% 0 4%;
}

#column-svg{
 	padding: 0 4% 0 0;
}

svg line{
	stroke: #dddddd;
}

#content {			
    max-width: 1500px;
    padding: 40px 0 0 0;
    margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction:row;
}

p{
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	margin: 6% 0 6% 0;
}

.today-exercise{
	display:
	flex;
	justify-content:
	row;
	flex-direction: column;
}

.detail-text{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size:14px;
}

.deco-text{
	font-size:12px;
	color:#7E7E7E;
	margin:0 30% 0 0;
}

.today-walk{
	font-weight:bold;
}

.exercise-gole{
	display: flex;
	flex-direction: row-reverse;
	font-size:12px;
	color:#7E7E7E;
}

progress{
	width:300px;
	height:45px;
	appearance: none;
}

progress::-webkit-progress-bar{
    background:#F2F2F2;
    border-radius:50px;
}
progress::-webkit-progress-value {
    border-radius:50px;
    background: #ffd984;

}
